<h3>Liste des critiques</h3>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="critique">
    <mat-header-cell *matHeaderCellDef> Critique </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.critique}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="note">
    <mat-header-cell *matHeaderCellDef> Note (/20) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.note}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="!element.anonyme; else anonymeBlock">{{ element.nom }}</span>
      <ng-template #anonymeBlock> Anonyme </ng-template>
    </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="prenom">
    <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="!element.anonyme; else anonymePrenomBlock">{{ element.prenom }}</span>
      <ng-template #anonymePrenomBlock> Anonyme </ng-template>
    </mat-cell>
  </ng-container>
  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

