.attraction-title {
  font-size: 18px;
  font-weight: 500;
  background-color: darkgrey;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  align-items: center;
}
.attraction {
  display: flex;
  text-align: center;
  column-gap: 25px;
  width: 100%;
  span {
    padding: 5px;
    width: 250px;
  }
  margin-bottom: 20px;
  padding: 10px;
}
.attraction_critique{
  border-bottom: 1px black solid;
}